.blue-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  font-family: sans-serif;
  height: 53px;
  transition: all .4s ease;
  text-shadow: none;
  width: 218px;
  font-size: 24px;
  background: linear-gradient(to right, #86D2FC 0%, #5C6FFB 100%);
  color: #000000;
  font-size: 17px;
  line-height: 51px;
  border-radius: 150px;
  position: relative;
  top: 0;
}

.blue-button:hover {
  background: #5C6FFB;
  color: #fff;
  top: -5px;
}
